body {
    font-family:sans-serif;
    background: url(images/2.jpg)
    no-repeat center;
}

.form-control {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}
.label {
    display: inline-block;
    text-align: right;
}
#form-border {
    background-color: #eeeeee;
    margin: 0 auto;
    border-style: double;
    border-radius: 10px;
    width: 75%;
    max-width: 900px;
    padding: 10px;

}
form {
    margin: 0 auto;
    width: 70%;
    padding: 1em;
    border: 5px double;
    border-radius: 1em;
}
h1 {
    text-align: center;
    color: black;
}
h4 {
    text-align: center;
}
h3 {
    text-align: left;
}
textarea {
    border-radius: 10px;
}
#submit {
    height: 40px;
    width: 70px;
    border-radius: 10px;
    background-color: #c0c0c0;
    color: black;
    font-size:16px;
}
#submit:hover {
    cursor: pointer;
    color: #318ce7;
    box-shadow: 2px 2px 4px rgba(2, 22, 39, 0.6);
}
